SERPER_API_KEY=6388586a7365a0b2ae0aeca3f88796c360e9db86

OPENAI_API_BASE=https://api.groq.com/openai/v1
OPENAI_API_KEY=gsk_qvGtrKtqHzEtdjZtjvgsk_PmAXbMwhFLrSKYelis7kWGdyb3FYB6bZMTskxeIo7DtI2PZWZipKinWGdyb3FYQe5WcKiEfWLrXQQtR6S8d4IG

RESEARCH_AGENT_LLM=llama-3.3-70b-versatile
ANALYST_AGENT_LLM=llama-3.3-70b-versatile
WRITER_AGENT_LLM=llama-3.3-70b-versatile
RESEARCH_AGENT_TEMPERATURE=0.1
ANALYST_AGENT_TEMPERATURE=0.2
WRITER_AGENT_TEMPERATURE=0.3
